{% extends 'pub/base.html.twig' %}
{% block title %}A Empresa | Grupo Rocie{% endblock %}
{% block body %}
<section class="section bg-rocie-gray-bg">
  <div class="container mx-auto text-center">
    <h1 class="section-title mb-4">Sobre o Grupo Rocie</h1>
    <p class="section-subtitle">Em breve mais informações sobre nossa empresa.</p>
  </div>
</section>
{% endblock %}
